<nav class="fs-3 d-flex justify-content-center align-items-center bg-success-subtle py-3">
  <ul class="d-flex justify-content-center align-items-center gap-4 list-unstyled mx-auto">
    <li><a href="/" class="text-secondary-emphasis fw-bold">/home</a></li>
    <li><a href="/realtimeproducts" class="text-secondary-emphasis fw-bold">/realtimeproducts</a></li>
  </ul>
</nav>